<p>Hello {first_name} {last_name},</p>

<p>
Welcome to LVAAS!
As a new member
you are invited
to register for an account on our website.
This will allow you
to view content that is for LVAAS members only.
Just
<a href="http://localhost:8057/wp-login.php?action=register">click here</a>
and register using the same email
where you received this message.
</p>
<p>
You may choose any username you like
as long as it has not already been used.
You cannpt change your user name once you have registered
except by alco changing your email
and registering a new account.
</p>
